<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bonc.system.dao.mapper.SysAttachmentMapper">

	<resultMap id="BaseResultMap" type="com.bonc.system.dao.entity.SysAttachment">
    	<id column="ID" property="id" jdbcType="VARCHAR"/>
	    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR"/>
	    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR"/>
	    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
	    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR"/>
	    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR"/>
	    <result column="CREATE_DEPART" property="createDepart" jdbcType="VARCHAR"/>
	    <result column="TABLE_ID" property="tableId" jdbcType="VARCHAR"/>
	    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="selectAttachById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select ID, FILE_PATH, FILE_TYPE, REAL_NAME, CREATE_USER, CREATE_TIME, CREATE_DEPART, TABLE_ID, TABLE_NAME 
		from SYS_ATTACHMENT where ID = #{attachId}
	</select>
	
	<select id="selectAttachByTableId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select ID, FILE_PATH, FILE_TYPE, REAL_NAME, CREATE_USER, CREATE_TIME, CREATE_DEPART, TABLE_ID, TABLE_NAME 
		from SYS_ATTACHMENT where TABLE_ID = #{tableId}
	</select>
	
	<delete id="deleteAttach" parameterType="java.lang.String">
		delete from SYS_ATTACHMENT where ID = #{attachId}
	</delete>
	
	<insert id="insertAttach" parameterType="com.bonc.system.dao.entity.SysAttachment">
		insert into SYS_ATTACHMENT
  			(id, file_path, file_type, real_name, create_user, create_time, create_depart, table_id, table_name)
		values
  			(
  				#{id, jdbcType=VARCHAR}, 
  				#{filePath, jdbcType=VARCHAR}, 
  				#{fileType, jdbcType=VARCHAR}, 
  				#{realName, jdbcType=VARCHAR}, 
  				#{createUser, jdbcType=VARCHAR}, 
  				#{createTime, jdbcType=VARCHAR}, 
  				#{createDepart, jdbcType=VARCHAR},
  				#{tableId, jdbcType=VARCHAR},
  				#{tableName, jdbcType=VARCHAR}
  			)
	</insert>
	<update id="updateAttach" parameterType="com.bonc.system.dao.entity.SysAttachment">
		update SYS_ATTACHMENT
		<set>
			<if test="id!=null and id!=''">
				id=#{id, jdbcType=VARCHAR},
			</if>
			<if test="filePath!=null and filePath!=''">
				file_path=#{filePath, jdbcType=VARCHAR},
			</if>
			<if test="fileType!=null and fileType!=''">
				file_type=#{fileType, jdbcType=VARCHAR},
			</if>
			<if test="realName!=null and realName!=''">
				real_name=#{realName, jdbcType=VARCHAR},
			</if>
			<if test="createTime!=null and createTime!=''">
				create_time=#{createTime, jdbcType=VARCHAR},
			</if>
		</set>
		where table_name=#{tableName, jdbcType=VARCHAR} 
		and table_id=#{tableId, jdbcType=VARCHAR}
	</update>
</mapper>