*{
	margin:0;
	padding:0;
	transition:background 1s;
	transition:color 1s;
}
body{
	background:white !important;
	font-family:"微软雅黑";
	position:relative;
	color:#666;
	overflow:hidden;
	
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
.condition{
	margin-top:25px;
}
/*
oprateMap
*/
.oprateMap{
	position:absolute;
	width:370px;
	left:5px;
}
.oprateMap .mapMenu{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
}
.menuToogle{
	width:15px;
	height:63px;
	background:url(../../img/gis/open.png) center no-repeat;
	cursor:pointer;
	position:absolute;
	top:108px;
	right:-15px;
}
.setName{
	width:240px;
}
.chosen-container{
	border-radius:0px !important;
}
/* chosen */
.chosen-container-active.chosen-with-drop .chosen-single{
	border-color:#4492c9;
}
.chosen-container-single .chosen-single{
	border-radius:0;
}
.chosen-container > .chosen-single, [class*="chosen-container"] > .chosen-single{
	background: #fafafa none repeat scroll 0 0;
    box-shadow: none;
    height: 32px;
    line-height: 28px;
}
.chosen-container-single .chosen-single{
	background:none;
	border-radius:0px;
	height:32px;
	line-height:29px;
}
.chosen-container-single .chosen-drop{
	border-color: #4492c9;
    border-radius: 0;
}
.chosen-container .chosen-results{
	color: #444;
    margin: 0 4px 4px 0;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: relative;
}
.chosen-container-single .chosen-search::after{
	color: #888;
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 8px;
}
/* tab */
#myTab{
	z-index:11;
}
.mapMenu .nav-tabs > li > a,.mapMenu .nav-tabs > li > a:focus{
	font-family:"微软雅黑";
	background:url(../../img/gis/tabbg.png) center no-repeat;
    border-color: #c5d0dc #c5d0dc currentcolor;
    border-radius: 0px !important;
    color: #0066cb;
    line-height: 24px;
    margin-right: 1px;
    position: relative;
    border:none;
    width:111px;
    height:38px;
    text-align:center;
    font-size:17px;
}
.mapMenu .nav-tabs > li.active > a,.mapMenu .nav-tabs > li.active > a:hover,.mapMenu .nav-tabs > li.active > a:focus{
	background:url(../../img/gis/white.png) center no-repeat;
    border-color: #4c8fbd #c5d0dc transparent;
    border-top: 0px solid #4c8fbd;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
    color: #4a4a4a;
    border:none;
    line-height: 18px;
    margin-top: 0px;
    z-index: 1;
    width:111px;
    height:38px;
    font-family:"微软雅黑";
    text-align:center;
    margin-right:1px;
}
.mapMenu .nav-tabs > li > a:hover{
	color:white;
}
#echart{
	margin-top:10px;
}
.echartTop{
	background:white;
	border-radius:5px;
	box-shadow:0px 0px 5px #d8d6d4;
	padding:5px;
	border: 1px solid #d8d6d4;
}
.localPosition{
	padding:0 5px;
}
#echart{
	margin:0 !important;
}
.localPositionUl li{
	float:left;
	height:56px;
	line-height:56px;
}
.prvent{
	padding:0 5px;
	font-size:16px;
	color:#616161;
}


.closeCondition i{
	color:#703f00;
}
.conditionUl .conditionLi{
	float:left;
	width:48%;
	color:#565656;
	text-align:center;
	border:2px dashed #ffc274;
	position:relative;
	cursor:pointer;
	line-height:30px;
	margin-right:7px;
	text-overflow:ellipsis;
	margin-bottom:20px;
}
.seeMore{
	width:25%;
	margin:0 auto;
	height:30px;
	line-height:30px;
	font-size:14px;
	background:#ffc274;
	color:white;
	text-align:center;
	cursor:pointer;
	border-radius:5px;
}
.seeMore:hover{
	background:#e2ac66;
}
.conditionUl .closeCondition{
	position:absolute;
	top:-17px;
	right:-3px;
	width:17px;
	height:17px;
	background:#ffc274;
	line-height:15px;
	text-align:center;
	cursor:pointer;
}
.conditionUl .closeCondition:hover{
	background:#d4a160;
}
.conditionUl .closeCondition:hover .conditionLi{
	border:2px dashed #d4a160;
}
.conditionSelect .conditionSelectUl .conditionSelectLi{
	float:left;
	width:33%;
	height:30px;
	color:#787878;
	text-align:center;
	cursor:pointer;
	line-height:30px;
	margin:5px 0px;
}
.conditionSelect .conditionSelectUl .conditionSelectLi1{
	border-right:1px solid #e9e9e9;
}
.conditionSelect .conditionSelectUl .conditionSelectLi2{
	border-right:1px solid #e9e9e9;
	position:relative;
}
.selectDateTime .selectDateTimeUl .selectDateTimeLi{
	float:left;
	width:40%;
	position:relative;
	padding:0px 5px;
}
.selectDateTime .selectDateTimeUl .searchDateTimeLi{
	float:left;
	width:20%;
	position:relative;
	background:#0080ff;
	line-height:34px;
	text-align:center;
	color:white;
	cursor:pointer;
}
.selectDateTime .selectDateTimeUl .searchDateTimeLi:hover{
	background:#066dd4;
}
.input-group-addon{
	position:absolute;
	right:14px;
	top:3px;
	z-index:10;
	border:none;
	background:none;
	color:#0080ff;
	font-size:16px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	border-radius:0px !important;
}
.date-picker{
	color:#d2d2d2;
	background:white !important;
	border:1px solid #bbbbbb !important;
	cursor:pointer;
}
.date-picker:hover{
	background:white !important;
	border:1px solid #bbbbbb !important;
}
.date-picker:focus{
	background:white !important;
	border:1px solid #bbbbbb !important;
}
/* 最小化 */
.minMenuUl li{
	width:100%;
	height:50px;
	line-height:50px;
	background:#0080ff;
	color:white;
	margin:5px 0px;
	border-radius:5px;
	box-shadow:0px 0px 3px #ccc;
	padding:0px 5px;
	cursor:pointer;
}
.minMenuUl li:hover{
	background:#0475e5;
}
.maxModal{
	float:right;
	font-size:18px;
	color:white;
	cursor:pointer;
}
.maxModal:hover{
}
/*  已发布   */
.releaseCon{
	width:250px;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
	display:block;
	float:left;
	cursor:pointer;
}
.releaseIcon{
	display:bolck;
	float:left;
	cursor:pointer;
}
/* 商圈选择 */
.tradArea{
	display:block;
	float:right;
	width:100px;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
	margin:0px 5px;
}
.tradAreaCon{
	display:none;
	position:absolute;
	border:1px solid #d8d6d4;
	border-radius:5px;
	padding:5px;
	top:30px;
	left:5px;
	z-index:11;
	background:white;
}
.tradAreaUl li{
	text-align:left;
	height:25px;
}
/* echartBottom  */
.echarBottom{
	background:white;
	width:100%;
	border-radisus:5px;
	box-shadow:0px 0px 5px #ccc;
	margin-top:5px;
	overflow:hidden;
	border:1px solid #d8d6d4;
}
.releaseTitle{
	height:54px;
	border-bottom:2px solid #0080ff;
	line-height:50px;
	color:#565656;
	font-size:16px;
	padding:0 10px;
}
.addRelease{
	padding-left:50px;
	corlor:#838383;
}
.addReleaseUl .addReleaseLi{
	padding:6px 0px;
	font-size:15px;
}
.blueFont{
	color:#1188ff;
	cursor:pointer;
}
.blueFont:hover{
	color:#107ce7;
}
.releaseBtn{
	width:100%;
	padding:8px 0px;
	text-align:center;
	background:#e9e9e9;
	font-size:16px;
	color:white;
	cursor:pointer;
}
.releaseBtn:hover{
	background:#c4c3c3;
}

/*  hotMapTitle  */
.hotMapCon{
	padding:5px;
}
.hotMapTitle{
	color:#0080ff;
}
.searchMapsName{
	width:245px;
	color:#666;
	height:30px;
	border:1px solid #bbbbbb !important;
	float:left;
}
.searchMapsName:focus{
	background:white !important;
	color:#666 !important;
	border:1px solid #bbbbbb !important;
}
.searchMapsName:hover{
	background:white !important;
	color:#666 !important;
	border:1px solid #bbbbbb !important;
}
.searchMapsNameBtn{
	width:48px;
	height:30px;
	line-height:20px;
	background:#60d620;
	color:white;
	float:left;
	margin-left:-1px;
	margin-right:0px;
}
.searchMapsNameBtn:hover{
	background:#55be1c !important;
	margin-right:0px;
}
.searchMapsNameBtn:focus{
	background:#55be1c !important;
	margin-right:0px;
}
.searchMapsEditBtn{
	width:48px;
	height:30px;
	background:#0080ff;
	color:white;
	text-align:center;
	margin-left:10px;
	margin-right:0px;
}
.searchMapsEditBtn:hover{
	background:#0468cb !important;
	margin-right:0px;
}
.searchMapsEditBtn:focus{
	background:#0468cb !important;
	margin-right:0px;
}
.btn > .ace-icon.icon-on-right{
	margin:0;
}
.addReleaseLi{
	position:relative;
}
.addReleaseLi div{
	float:left;
	height:32px;
}
.addReleaseLi .mapName{
	width:32px;
	height:32px;
	background:#0066cb;
	color:white;
	text-align:center;
	line-height:32px;
}
.addReleaseLi .dataName{
	width:80px;
	height:32px;
	background:#0080ff;
	color:white;
	text-align:center;
	line-height:32px;
	font-size:14px;
}
.noteList{
	color:#c2c2c2;
	font-size:12px;
	width:100%;
	text-align:left;
}
/*
map
*/
.map{
	width:100%;
	background:url(../../img/gis/map.png) center no-repeat;
	background-size:cover;
}

/*  tab切换统一样式  */
.nav-tabs {
	background:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
 	background-color: #fff;
    border-bottom-color: transparent;
    border-left-color: #c5d0dc;
    border-right-color: #c5d0dc;
    border-top: 1px solid #bbbbbb;
    box-shadow: none;
    color: #576373;
    line-height: 18px;
    margin-top: 0px;
    z-index: 1;
    border-radius:5px 5px 0px 0px;
}
.nav-tabs > li > a, .nav-tabs > li > a:focus{
	background-color: #f9f9f9;
    border-color: #c5d0dc;
    border-radius: 0 !important;
    color: #999;
    line-height: 18px;
    margin-right: -1px;
    position: relative;
    border:none;
    border-radius:5px 5px 0px 0px !important;
}
.outerBorder{
	border-bottom:1px solid #c5d0dc;
	padding:0px 5px;
	background:white;
}
.modal-header .close{
	margin-top:0px;
}
.btn{
	border-radius:0px;
}
.btn:focus, .btn:hover{
	border-radius:0px;
}
.modal-header{
	border-bottom: 2px solid #0080ff;
    min-height: 16.4286px;
    padding: 10px
}
.modal-footer{
	border-top-color: #7fbfff;
}
.modal-backdrop{
	background:none;
}
.modal-dialog{
	margin-left:400px;
	margin-top: -22px;
}
 /*  字体图标样式  */
 .glyphicon{
 	margin:0px;
 	font-size:31px;
 	line-height:26px;
 	color:#000000;
 	font-family:"微软雅黑";	
 }  