<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.dpi.dao.mapper.DmDevGoodsInfoMapper">
	<select id="selectList" 
		parameterType="com.bonc.dpi.dao.entity.DmDevGoodsInfo" 
		resultType="com.bonc.dpi.dao.entity.DmDevGoodsInfo">
		SELECT 
		  t.CONTENT_LABEL_CODE2 contentLabelCode2,
		  t.CONTENT_LABEL_CODE3 contentLabelCode3,
		  t.CONTENT_LABEL_NAME2 contentLabelName2,
		  t.CONTENT_LABEL_NAME3 contentLabelName3,
		  t.CREATE_TIME createTime,
		  t.DATE_ID dateId,
		  t.DOWN_FLOW downFlow,
		  t.GOODS_ID goodsId,
		  t.GOODS_NAME goodsName,
		  t.PRICE price,
		  t.SALES sales,
		  t.EVALUATE evaluate,
		  t.PROD_ID prodId,
		  t.BRAND brand,
		  t.TOTAL_FLOW totalFlow,
		  t.TOTAL_NUM totalNum,
		  t.UP_FLOW upFlow,
		  t.USER_TOTAL userTotal,
		  t.WAP_DURATION wapDuration
		FROM
		  dm_d_ev_goods_info t where 1=1
		<if test="goodsName != null and goodsName != ''">
			and GOODS_NAME like CONCAT(CONCAT('%', #{goodsName}), '%')
		</if>
	</select>
</mapper>