body{
	font-family:"΢���ź�";
	color:#666666;
}
ul{
	margin:0px;
	padding:0px;
}
li{
	list-style:none;
}
/* index��ҳ��ʽ */
.colorBlock{
	margin-top:15px;
}
.block1, .block2, .block3, .block4{
	height:130px;
	color:#dbf1f4;
	margin-bottom:15px;
}
.block1{
	background:#1fa7d8;
	border:1px solid #86cad9;
}
.block2{
	background:#62c2de;
	border:1px solid #a0d7e4;
}
.block3{
	background:#f9cb00;
	border:1px solid #f1de80;
}
.block4{
	background:#f86b6a;
	border:1px solid #e7afae;
}
.chartName{
	height:50px;
}
.doubleLineBar{
	background:#fff;
	border-radius:5px;
}
.cardList{
	background:#fff;
	border-radius:5px;
	box-shadow:5px 5px 5px #ccc;
	margin-top:12px;
	margin-bottom:12px;
	padding:0px;
}
.cardIcon{
	height:70px;
	line-height:65px;
	text-align:center;
	color:#fff;
	border-radius:5px 0px 0px 5px;
	background:#8d8a8a;
}
.cardIcon .fa{
	display:inline-block;
	font-size:18px;
	line-height:70px;
}
/* ��������ʽ */
.bootbox .btn-default{
	margin-right:5px;
}
.bootbox .btn-default:active{
	margin-right:5px;
}
.modal-content{
	border:0;
}
.modal-content{
	background:none !important;
}
.modal-header{
	background-color:#3ca0e7 !important;
	border:0 !important;
	color:#fff !important;
	border-radius:8px 8px 0 0;
	padding:8px;
}
.modal-title{
	font-size:16px;
	color:#fff !important;
	font-weight:normal;
}
.modal-header .bootbox-close-button.close{
	padding:0;
	margin-top:-2px;
	color:#fff;
	font-weight:normal;
	vertical-align:top;
	opacity:0.8;
}
.modal-header .close{
	font-weight:normal;
	color:#fff !important;
	opacity:0.8;
}
.modal-header .bootbox-close-button.close:hover{
	opacity:1;
}
.modal-header .close:hover{
	opacity:1;
}
.modal-body{
	text-align:left;
	font-size:14px;
	background:#f9f9f9;
}
.modal-footer{
	padding:0 10px 10px 0;
	background:#f9f9f9;
	border:0;
}
.modal-footer .btn{
	height:30px;
	padding:6px 20px;
	border:0;
}
.modal-footer .btn-success{
	background-color:#367cc2 !important;
}
.modal-footer .btn-danger,.modal-footer .btn-default,.modal-body .btn-warning{
	background-color:#8e8e8e !important;
}
.modal-header .close{
	font-size:21px;
}
.btn{
	border-radius: 5px;
}
.modal-footer .btn + .btn{
	/* margin-left:0px; */
}
.btn, .btn-default, .btn:focus, .btn-default:focus{
	margin-right:0px;
}
.fullBackground{background-color:#000;position: fixed;left: 0px;top: 0px;opacity:0.6;filter:alpha(opacity:0.6);width: 100%;height: 100%;}
.transitioned{
	transition:transform .2s ease-out;
	transform:translate(0,-25%);
}
.transitioned1{
	transition:transform .1s ease-out;
	transform:translate(0,-100%);
}
.transitions{
	transition:transform .2s ease-out;
	transform:translate(0,0);
}
/* iframe �ڲ���ʽ */
.labelForm {
	padding-top: 5px;
	text-align: right;
}
.formGroup{
	margin-bottom: 15px;
} 
.formField-error {
	color: red;
	margin-top: 5px;
	font-size: 12px;
}
.formField-submit {
	margin-top: 40px;
	text-align: center;
} 
.grid-search-div{
	padding-bottom:10px;
}
/* grid */
.ui-jqgrid-view > .ui-jqgrid-titlebar {
    height: 40px;
    line-height: 23px;
    color: #FFF;
    background-color: #3ca0e7;
    padding: 0;
    font-size: 14px;
}
.grids-btn{
   	background: none !important;
   	border: none !important;
}
.grid-btn:hover{
	background: none !important;
}
.bcl{
	font-size:13px !important;
	color:#199ed9 !important;
}
.bco{
	font-size: 13px !important;
	color: #ea5348 !important;
}
.bcol{
	font-size: 13px !important;
	color: #ffb752 !important;
}
.bcll{
	font-size: 13px !important;
	color: #23ae68 !important;
}
i.glyphicon{
  	margin-top:0 !important;
}
td[aria-describedby="grid-table_act"]{
   	text-align:left;
}
.inputIE{
	height:32px\9;
	top:0px\9;
}
#workOrderForm label.form-group{
	margin-bottom:0 !important; 
	vertical-align:bottom;
	padding:0 10px !important;
}
#workOrderForm label.form-group input.form-control{
	width:100% !important;
}
.clearfix button.submit-btn{
	margin-right:10px !important;
	margin-top:6px !important;
}
.ui-jqgrid-btable tr.jqgrow td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
}
span.ace-file-input{
	width:223px !important;
}
.ace-file-container.selected{
	width:223px;
}
.tree-label small.help-block{
	position:relative;
	left:-85px;
}
.paging-span-icon{
	width:22px;
	height:22px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	top:5px;
}
.grids-btn{
   	background: none !important;
   	border: none !important;
}
.grid-btn:hover{
	background: none !important;
}
.inputIE{
	height:32px\9;
	top:0px\9;
}
.modal-dialog.create-user-dialog {
	width: 500px;
}
#activitiInfoForm input,#activitiInfoForm textarea {
	width: 80% !important;	
	display: inline-block;
}
.modal-dialog.create-user-dialog {
	width: 500px;
}
.modal-bottom {
	height: 55px;
	border-radius:0px 0px 8px 8px;
	background:#f9f9f9;
	border-top:1px solid #ccc;
	padding:10px 15px 0px 15px;
	text-align: right;
}
.left-full {
	padding-top: 10px;
	padding-right: 0px;
}
.grid-full {
	padding-top: 10px;
}
.widget-header-btn {
	font-size:12px;
	margin:7px;
}
.ui-jqgrid .ui-jqgrid-hbox{
	padding-right:0px !important;
}
.ui-jqgrid-hdiv{
	width:100% !important;
}
.widget-box {
	margin-bottom: 10px;
}
.widget-body {
	padding: 10px;
	overflow: auto;
}
.widget-title-btn {
	margin-top: 5px;
}
.widget-color-blue{
	border-color:#3ca0e7;
}
.widget-color-blue > .widget-header{
	background: #3ca0e7;
    border-color: #3ca0e7;
}
.searchPadding{
	margin:10px 0px;
}