@import 'element.css';
@import 'flex.css';
/* color */
/* img */
.spot {
  padding-left: 22px;
  height: 20px;
  background: no-repeat 0% 50%;
  background-size: 20px;
}
.spot-error {
  background-image: url(../images/spotError.png);
}
.spot-success {
  background-image: url(../images/spotSuccess.png);
}
.spot-update {
  background-image: url(../images/spotUpdate.png);
}
.pointer {
  cursor: pointer;
}
#body {
  padding: 0 2.1%;
}
section {
  margin-top: 15px;
}
section .title {
  padding: 12px 15px 12px 0;
}
section1 .title {
  padding: 12px 15px 12px 25px;
}
section .title .section-title {
  color: #61acef;
  border-left: 4px solid #61acef;
  padding-left: 6px;
}
section.addDiv {
  border: 1px solid #EBEBEB;
}
section.addDiv .title {
  background-color: #F5F5F5;
}
section.addDiv .title .btnAdd {
  color: #457bb5;
}
section.addDiv .title .btnAdd > span {
  position: relative;
  bottom: 3px;
}
section.addDiv .add-body .el-textarea__inner {
  border: none;
  padding: 15px;
  line-height: 2.2;
}
section.tableDiv .title {
  line-height: 2;
}
section.tableDiv .el-table {
  border: 1px solid #EBEBEB;
}
section.tableDiv .table-header > th {
  background-color: #ccc;
  color: #222;
}
.icon-del {
  width: 23px;
  height: 23px;
  background: url(../images/delete.png) no-repeat 50% 50%;
  left: 23px;
}
.btn-cancel,
.btn-sure {
  width: 50%;
  font-size: 14px;
}
.btn-cancel,
.btn-cancel:hover {
  color: #606266;
  border-right: 1px solid #EBEBEB;
}
.btn-sure {
  color: #457bb5;
}
.v-modal {
  background: rgba(241, 237, 237, 0.43);
}
.el-pagination {
  text-align: center;
}
.alertDiv {
  padding: 5px 12px;
  border: 1px dashed #EBEBEB;
  line-height: 2;
  color: #61acef;
}
.el-message-box__title > span {
  padding-left: 15px;
  font-size: 14px;
}
.el-message-box__content {
  padding: 3px 15px;
}
